.cabecalho {
    background-color: #c4b6b6;
    color: white;
    display: flex;
    justify-content: space-around;
    }

.cabecalho-imagem{
  width: 12%;
}

.cabecalho-lista-item{
display: inline-block;
}